@import "https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700";

body {
  font-family: 'Titillium Web', sans-serif;
  color: #002814 !important
}

h2{
    color: #009B46 !important
}
  .nav--squad {
    font-weight: 400;
    font-size: 1.6rem;
    color: white
  }
  .bg--squad{
      background: #009baa
  }

  .cards {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e8f8f9;
    background-clip: border-box;
    border: 1px solid #009BAA;
    border-radius: .25rem
}

.form-control{
    border: 1px solid #009BAA !important
}